@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

body {
    overflow-x:hidden;
    font-family: 'Lato', sans-serif;
    color:  #505962;
    padding-top: 70px;
    padding-bottom: 100px;
}

/* Navbar styles */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    background: rgba(0,0,0,.6)!important;
}

.navbar-nav li {
    padding-right: .9rem;
}

.navbar-dar .navbar-nav .navbar-link{
    color: white;
    padding-top: .8rem;
}

/* Jumbotron */
.jumbotron {
    background-image: url(/WebVisualization/assets/Stock.png);
    background-size: cover;
    height: 45vh;
    color:white;

}

h3 {
    font-size: 15px;
}

#title{
    text-align: center;
    padding-top: 25px;
}

